---
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import '../styles/global.scss';
import { Font } from 'astro:assets';

interface Props {
  title: string;
  description?: string;
  className?: string;
}

const { title, className, description = 'Nucarbon - Soluções sustentáveis em créditos de carbono e projetos agroflorestais' } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:locale" content="pt_BR" />
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    
    <title>{title}</title>

    <Font cssVariable="--font-kollektif" preload />
  </head>
  <body>
    <Header />
    <main class={className}>
      <slot />
    </main>
    <Footer />
  </body>
</html>

